web: gunicorn kevnuma_hair:app
release: bash release.sh
beat: celery -A  kevnuma_hair:app beat -S redbeat.RedBeatScheduler  --loglevel=DEBUG --pidfile /tmp/celerybeat.pid
worker: celery -A  kevnuma_hair:app  worker -Q default -n project.%%h --without-gossip --without-mingle --without-heartbeat --loglevel=INFO --max-memory-per-child=512000 --concurrency=1


