alembic==1.12.0
arrow==1.2.3
beautifulsoup4==4.12.2
bfg==0.1.0
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==3.2.0
click==8.1.7
clock==0.1
colorama==0.4.6
comtypes
email-validator
Flask
Flask-Cors
Flask-Login
Flask-Migrate
Flask-Reuploaded
Flask-Script
Flask-SQLAlchemy
Flask-Uploads
Flask-WTF
git-filter-repo
google-api-core
google-auth
google-cloud
google-cloud-texttospeech
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h2
hpack
hstspreload
httpcore
httpx
hyper
hyperframe
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mysql
mysqlclient
numpy
pandas
proto-plus
protobuf
pyasn1
pyasn1-modules
pycodestyle

python-dotenv
python-editor
pytoml
pyttsx3
pytz
PyYAML
requests
rfc3986
rsa
six
sniffio
soupsieve
SQLAlchemy
typing_extensions
tzdata
tzlocal
urllib3
Werkzeug
WTForms
gunicorn
stripe
psycopg2-binary==2.9.5
